<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Groupie Tracker</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' href='/front/style.css'>
</head>
<body>
        <!-- Menu nav -->
        <header>
             <nav class="nav">
                 <ul>
                     <li class="btn-nav">
                         <a href="index.html">Home</a>
                     </li>
                     <li class="btn-nav">
                         <a href="/location">Location</a>
                     </li>
                 </ul>
             </nav>
         </header>  
         <main>
        <!--Affichage Artistes-->
         {{range .}}
         <div class="card">
           <div class="card-transition transition"></div>
                <img class="image-card" id="img-trans" src="{{.Image}}">

                <h1>{{.Name}}</h1>
                <h1 class="date">{{.CreationDate}}</h1>
                <div id="transition" class="album" >
                    <h1>First album :</h1>
                    <h1>{{.FirstAlbum}}</h1>
                </div>
                <div id="transition" class="member">
                    <h1>Member :</h1>
                {{range .Member}}
                    <h1 >{{.}}</h1>
                {{end}}
                </div>
            </div>
        </div>
         {{end}}
        
        </main>
    
</body>
</html>