* {
    margin: 0;
	padding: 0;
	text-decoration: none;
	list-style: none;
    font-family: 'Poppins', sans-serif;
    -webkit-font-smoothing: antialiased;
}

body {
    background-color: #ecf7ee;  
}
/* header */

header {
    position: sticky;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 70px;
    width: 100%;
    top: 0;
    backdrop-filter: blur(5px);
    z-index: 5;
}
label, #toggle {
    display: none;
}
.nav {
	height: 70px;
    width: 100%;
	display: flex;
	justify-content: center;
	box-sizing: border-box;
	align-items: center;
    position: sticky;
    top: 0;
    background-color: #8c00ff;
}

.nav-id {
    width: 100%;
}

.nav ul {
    display: flex;
    flex-direction: row;
    
}

a {
    color: #ecf7ee; 
}

.nav ul .btn-nav {
    margin: 0 25px;
}

.nav ul .btn-nav:hover a {
	color: #2b94e5;
	transition: 0.3s;
}

.btn-logo {
    height: 100px;
    position: absolute;
    left: 75px;

}

/* Artiste */
main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.card {
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-direction: column;
    padding: 20px;
    margin: 10px;
    height: 300px;
    width: 250px;
    background-color: #ecf7ee;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}

.card:hover {
    height: 500px;
    width: 250px;
    box-shadow: 0px 30px 30px rgba(0,0,0,0.2);
    border: solid #8c00ff;
    transition: 2s;
}

img {
    border-radius: 150px;
    box-sizing: 100px;
    border: solid #8c00ff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card:hover #img-trans{
transition: 5s;
-webkit-transition: 5s;
-moz-transition: 5s;
-ms-transition: 5s;
-o-transition: 5s;
-webkit-transform: rotate(360deg);
-moz-transform: rotate(360deg);
-o-transform: rotate(360deg);
-ms-transform: rotate(360deg);
transform: rotate(360deg);
}

h1 {
    color: #8c00ff;
    margin-top: 0;
    font-size: 20px;
}

.album {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 12px;
}

.member {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card:hover #transition {
    display: flex;
    justify-content: center;
    flex-direction: column;
    animation: opatransin 2s ease-in-out;
    opacity: 1;
}

@keyframes opatransin {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/* Loaction */

.Card-Location {
    background-color: #ecf7ee;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
    color:#8c00ff;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin: 10px;
    height: 300px;
    width: 250px;
}

.Card-Location:hover {
    height: 300px;
    width: 250px;
    box-shadow: 0px 30px 30px rgba(0,0,0,0.2);
    border: solid #8c00ff;
}

