* {
    margin: 0;
	padding: 0;
	text-decoration: none;
	list-style: none;
    color: white;
    font-family: 'Poppins', sans-serif;
    -webkit-font-smoothing: antialiased;
}

body {
    background: #121212;
}

header {
    position: sticky;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100px;
    width: 100%;
    top: 0;
    backdrop-filter: blur(5px);
}
label, #toggle {
    display: none;
}
.nav {
	height: 100px;
    width: 100%;
	display: flex;
	justify-content: center;
	box-sizing: border-box;
	align-items: center;
    position: sticky;
    top: 0;
}

.nav-id {
    width: 100%;
}

.nav ul {
    display: flex;
    flex-direction: row;
    
}

.nav ul .btn-nav {
    margin: 0 25px;
}

.nav ul .btn-nav:hover a {
	color: #2b94e5;
	transition: 0.3s;
}

.btn-logo {
    height: 100px;
    position: absolute;
    left: 75px;

}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 20px;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    margin: 10px;
    height: 300px;
    width: 250px;
    background-color: black;
}

.card:hover {
    height: 400px;
    width: 250px;
    transition: 1.05s;
}
.image-card img {
    border-radius: 150px;
}

.nom-artiste h1 {
    font-size: 15px;
    margin: 5px;
}

.date h1 {
    font-size: 15px;
    margin: 5px;
}

.album h1 {
    font-size: 15px;
    margin: 5px;
    opacity: 0;
}

.member h1 {
    font-size: 15px;
    margin: 5px;
    opacity: 1;
}